Repository kimmyuung/lumia-ops: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: Update package-lock.json for Playwright dependency
  client/package-lock.json
Due: none

fix: Remove jacoco from plugins block (core Gradle plugin)
  server/build.gradle.kts
Due: none

fix: Use tasks.named instead of tasks.test for Gradle compatibility
  server/build.gradle.kts
Due: none

fix: Update vitest.config to standalone config (avoid mergeConfig callback issue)
  client/vitest.config.ts
Due: none

fix: Use tasks.named instead of tasks.register for jacocoTestCoverageVerification
  server/build.gradle.kts
Due: none

fix: Lower coverage threshold to 45% (current achievable level)
  client/vitest.config.ts
Due: none

fix: Add pull-requests write permission to coverage workflow
  .github/workflows/coverage.yml
Due: none

fix: Resolve Kotlin compilation errors in controllers
  server/lumia-api/src/main/kotlin/com/lumiaops/lumiaapi/controller/CacheMonitoringController.kt
  server/lumia-api/src/main/kotlin/com/lumiaops/lumiaapi/controller/ErrorLogController.kt
  server/lumia-api/src/main/kotlin/com/lumiaops/lumiaapi/controller/InvitationController.kt
Due: backend

fix: Resolve test compilation errors
  server/lumia-api/build.gradle.kts
  server/lumia-api/src/test/kotlin/com/lumiaops/lumiaapi/controller/InvitationControllerTest.kt
  server/lumia-api/src/test/kotlin/com/lumiaops/lumiaapi/controller/StatisticsControllerTest.kt
Due: none

fix: resolve CI test failures and lint issues
  client/playwright.config.ts
  client/src/components/common/LazyImage.vue
  client/src/components/common/Modal.vue
  client/src/main.ts
  client/src/utils/errorLogger.ts
  client/tests/e2e/fixtures/auth.ts
  client/tests/e2e/team.spec.ts
  server/lumia-api/src/test/kotlin/com/lumiaops/lumiaapi/controller/StatisticsControllerTest.kt
  server/lumia-core/src/test/kotlin/com/lumiaops/lumiacore/service/OAuth2AuthServiceTest.kt
Due: frontend

Path conditions:
  frontend: any of: client/src/, but not: **/__tests__/**, **/*.spec.ts, **/*.test.kt, **/test/**, **/*Config.kt, **/*Application.kt, **/*Dto.kt, **/domain/**
  backend: any of: server/lumia-api/src/, server/lumia-core/src/, server/lumia-socket/src/, but not: **/__tests__/**, **/*.spec.ts, **/*.test.kt, **/test/**, **/*Config.kt, **/*Application.kt, **/*Dto.kt, **/domain/**
